logs
project/project
project/target
target
.target
bin
.cache
.classpath
.project
.settings/*
tmp
.history
dist
test*.db
project/activator-defaults-shim.sbt
project/activator-play-shim.sbt
project/activator-sbt-eclipse-shim.sbt
project/activator-sbt-idea-shim.sbt
/.idea
/*.iml
/out
/.idea_modules
/RUNNING_PID

