@()(implicit lang: Lang)

@import helper._

@main("Labels4all") {
    
<h2>@Messages("about.api")</h2>
<div class="about">
 

<p>@Messages("about.api.intro")</p>
<p><strong>@Messages("about.api.query")</strong></p>
<p>http://labels4all.info/trans/{@Messages("about.api.langcode")}?iri={IRI}&format={@Messages("about.api.format")}</p>
<p><strong>@Messages("about.api.param")</strong></p>
<p>{@Messages("about.api.langcode")}: @Messages("about.api.langcode.desc")</p>
<p>{IRI}: @Messages("about.api.IRI")</p>
<p>{@Messages("about.api.format")}: @Messages("about.api.format.desc")</p>

<p><strong>@Messages("Example"):</strong></p>
<ul>
<li><a href="http://labels4all.info/trans/es?iri=http://xmlns.com/foaf/0.1/member&format=text/turtle">
		http://labels4all.info/trans/es?iri=http://xmlns.com/foaf/0.1/member&format=text/turtle</a></li>
<li><a href="http://labels4all.info/trans/es?iri=http://purl.org/dc/terms/abstract">
		http://labels4all.info/trans/es?iri=http://purl.org/dc/terms/abstract</a></li>
</ul>

</div>
}
