@(translationForm: Form[ViewTranslation])(implicit lang: Lang,flash: Flash)

@import helper._

@main("Labels4all") {
    
    <h2>@Messages("AddTrans")</h2>

    @form(routes.Admin.newAlternativeTranslation) {
        
        <fieldset>
         	<div class="center">
            	@inputText(translationForm("label"), '_label -> Messages("Label"))
            </div>
        	<p class="center"><strong>@flash.get("iri")</strong> &#x040; <strong>@flash.get("lang")</strong></p> 
        	<input type="hidden" id="iri" name="iri" value='@flash.get("iri")' >
        	<input type="hidden" id="lang" name="langCode" value='@flash.get("lang")' > 		
			<input type="hidden" id="formatTxt" name="format" value='' >
            <input type="hidden" id="votes" name="votes" value='1' >
            <input type="hidden" id="id" name="id" value='0' >
            <div class="actions margintop">
            	<input id="create" type="submit" value="@Messages("CreateTrans")" class="btn primary"> 
            	<a href="javascript:getAlt();" class="cancel">@Messages("Back")</a> 
        	</div>  
        </fieldset>
        
        
    }    
}
<script language="javascript">
	 function getAlt() {
		   parent.history.back();
	 }
</script>