@(langs: List[Language],languages: Seq[Lang], searchForm: Form[SearchField])(implicit lang: Lang)
@import helper._
@main("Labels4all") {
    <h2>@Messages("Home")</h2>

        @form(routes.Application.searchTranslation) {
	  <fieldset>        
        @inputText(searchForm("iriName"),'type -> "url", 'size -> 50,'_label -> "IRI",  'onBlur->"loadLangs()")
        <div id="prueba" class="examples">@Messages("Example"):
		 	<span class="exlink" id="setIri1"> <a href="#">http://purl.org/dc/terms/Agent</a></span>
		 	<span class="exlink" id="setIri2"> <a href="#">http://xmlns.com/foaf/0.1/name</a></span>	
	 	 </div> 
       @inputText(searchForm("langCode"), '_label -> Messages("Language"), 'list -> "langCodeDatalist")
       <div class="examples exlang">@Messages("LoadIris")</div>

		<datalist id="langCodeDatalist">   @langs.map { lang =>
		        <option>
		          @lang.langCode
		         </option>
		    }
		   </datalist>
		 <input id="search" type="submit" value="@Messages("Search") ">
		 
		   
       </fieldset>  
    }
<script type="text/javascript" language="javascript">

$("#setIri1").click(function() {
setIri(1);
});
$("#setIri2").click(function() {
setIri(2);
});

window.onload = function() {
	var langdefault = window.navigator.language;
	$("#langCode").attr("value", langdefault);
	
}


function setIri(id){
	if(id==1){
		$("#iriName").attr("value", "http://purl.org/dc/terms/Agent");
	}
	if(id==2){
		$("#iriName").attr("value", "http://xmlns.com/foaf/0.1/name");
	}
	$("#iriName").focus();
	loadLangs();
}



var successFn = function(data) {
	console.log("metodo successFn:"+data);
	var dataList = $("#langCodeDatalist");
	dataList.empty();
	if(data!=null && data.length != 0){
		var n=data.split(",");
	 	for(i = 0; i < n.length-1; i++){
			var opt = $("<option></option>").attr("value", n[i]);
			console.log("option added");
			dataList.append(opt);
		}
		console.debug("Success of Ajax Call");
	}
};

var errorFn = function(err) {
	console.log("metodo errorFn");
	console.debug("Error of ajax Call");
	console.debug(err);
}
 
ajax1 = {
	success: successFn,
	error: errorFn
}
 
function loadLangs() {
	var iri = $("#iriName").val();
	if('null' != iri && iri.length != 0){
	jsRoutes.controllers.Application.loadLangs(iri).ajax(ajax1);
	}
}
</script>    
}
