@(iris: List[IRI], iriForm: Form[String])(implicit lang: Lang)

@import helper._

@main("Labels4all") {
    
    <h2>Admin IRIs</h2>
    
    <p class="number"><a href="@routes.Admin.admin" class="new noborder">@Messages("Back")</a>@Messages("NumIris") @iris.size <a class="new" href="@routes.Admin.addIRI">@Messages("AddIri")</a>
    </p>            
    
    <table class="iris" summary="IRIs">
    <thead>
    <tr>
      <th scope="col" abbr="IRI">IRI</th>
      <th scope="col" abbr="del"></th>
     </tr>
    </thead>
     <tbody>
        @iris.map { iri =>
            <tr>
                 <td>@iri.iriName </td>
                
                 <td>@form(routes.Admin.deleteIRI(iri.id.get)) {
                    <input type="submit" value="@Messages("Delete")">
                } </td>
            </tr>
        }
     </tbody>
    </table>
    
    
    
}

<script language="javascript">
	 function back() {
		   parent.history.back();
	 }
</script>
