@(langs: List[Language], langForm: Form[Language], defaultLanguage: Lang)(implicit lang: Lang)

@import helper._

@main("Labels4all") {
    
    <h2>@Messages("Admin") @Messages("Languages")</h2>
    <p class="number"><a href="@routes.Admin.admin" class="new noborder">@Messages("Back")</a>@Messages("NumLang") @langs.size</p>
	 <table class="langs" summary="@Messages("Languages")">
	    <thead>
	    <tr>
	      <th scope="col" abbr="name">@Messages("Language")</th>
	      <th scope="col" abbr="code">@Messages("LangCode")</th>
	     </tr>
	    </thead>
	     <tbody>
	     @langs.map { lang =>
            <tr>
                 <td>@lang.langName </td>
                
                 <td>@lang.langCode</td>
            </tr>
        }
    </tbody>
    </table>   
       


<script language="javascript">
	 function back() {
		   parent.history.back();
	 }
</script>
}