@(iriForm: Form[String])(implicit lang: Lang)

@import helper._

@main("Labels4all") {
    
    <h2>Add IRI</h2>
    @form(routes.Admin.newIRI) {
        <fieldset>
            @inputText(iriForm("iriName"), 'type -> "url", 'size -> 50,'_label -> "IRI")
        	<div class="actions">
            	<input id="create" type="submit" value="@Messages("CreateIri")" class="btn primary"> 
            	<a href="@routes.Admin.iris" class="cancel">@Messages("Cancel")</a> 
        	</div>
        </fieldset>
    }    
}
