@(translations: List[ViewTranslation], translationForm: Form[ViewTranslation],defaultLanguage: Lang)(implicit lang: Lang)

@import helper._

@main("Labels4all") {
    
    <h2>@Messages("Admin") @Messages("Translations")</h2>
    
    <p class="number"><a href="@routes.Admin.admin" class="new noborder">@Messages("Back")</a> @Messages("NumTrans") @translations.size<a class="new" href="@routes.Application.newTrans">@Messages("AddTrans")</a></p>
    
    	
	
    
    <table class="trans"  summary="@Messages("Translations")">
    <thead>
    <tr>
      <th scope="col" abbr="IRI">IRI</th>
      <th scope="col" abbr="lang">@Messages("LangCode")</th>
      <th scope="col" abbr="label">@Messages("Label")</th>
      <th scope="col" abbr="votes">@Messages("Votes")</th>
      <th scope="col" abbr="del"></th>
      
     </tr>
    </thead>
     <tbody>
        @translations.map { t =>
        <tr>
            <td>@t.iri</td>
            <td>@t.langCode</td>
            <td>@t.label</td>
            <td>@t.votes</td>
            <td>@form(routes.Admin.deleteTrans(t.id)) {
                    <input type="submit" value="@Messages("Delete")">
                }</td>
        </tr>
        }
    </tbody>
    </table>
    
<script language="javascript">
	 function back() {
		   parent.history.back();
	 }
</script>    
}